/* config.css */

/* helpers/align.css */

.align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* helpers/grid.css */

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    /*max-width: 20rem;*/
    width: 90%;
}

/* helpers/hidden.css */

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* layout/base.css */

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    background-color: #2c3338;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /*font-size: 0.875rem;*/
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

/* modules/anchor.css */

a {
    color: #eee;
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
    color: #4ceaae;
}

/* modules/form.css */

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

input[type='submit'],
input[type='reset'],
.form__button  {
    cursor: pointer;
}

.form {
    margin: -14px;
    /*margin: -0.875rem;*/
}

.form input[type='password'],
.form input[type='text'],
.form input[type='email'],
.form input[type='number'], 
.form input[type='date'], 
.form textarea,
.form input[type='submit'],
.form input[type='reset'],
.form__button {
    width: 100%;
}

.form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    /*margin: 0.875rem;*/
}

.form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* modules/login.css */

.register {
    color: #eee;
}

.form label,
.form input[type='text'],
.form input[type='password'],
.form input[type='email'],
.form input[type='number'],
.form input[type='date'],
.form select,
.form__button,
.form input[type='submit'],
.form input[type='reset']
{
    border-radius: 0.25rem;
    padding: 16px;
    /*padding: 1rem;*/
}

.form label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    /*padding-left: 1.25rem;*/
    padding-right: 20px;
    /*padding-right: 1.25rem;*/
}

.form textarea {
    background-color: #3b4148;
    border: none;
    color: inherit;
    font: inherit;
    padding: 16px;
    border-radius: 0.25rem;
    width: 100%;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='email'],
.form input[type='number'],
.form input[type='date'],
.form input[type='email'] {
    background-color: #3b4148;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form input[type='password']:focus,
.form input[type='password']:hover,
.form input[type='text']:focus,
.form input[type='text']:hover,
.form input[type='email']:focus,
.form input[type='email']:hover,
.form input[type='number']:focus,
.form input[type='number']:hover,
.form input[type='date']:focus,
.form input[type='date']:hover,

.form textarea:focus,
.form textarea:hover {
    background-color: #434a52;
}

.form input[type='submit'],
.form input[type='reset'], 
.form__button {
    background-color: #4ceaae;
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

.form input[type='submit']:focus,
.form input[type='submit']:hover,
.form input[type='reset']:focus,
.form input[type='reset']:hover,
.form__button:focus,
.form__button:hover {
    background-color: #ea4c88;
    color: #eeeeee;;
}

/* modules/text.css */

p {
    margin-bottom: 24px;
    /*margin-bottom: 1.5rem;*/
    margin-top: 24px;
    /*margin-top: 1.5rem;*/
}

.text--center {
    text-align: center;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
