/*table*/
h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl-header {
    background-color: #1a1e21;
}

.tbl-content {
    height: 70%;
    overflow-x: auto;
    margin-top: 0;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 700;
    font-size: 0.8rem;
    color: #4ceaae;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    font-size: 0.8rem;
    color: #fff;
    border-bottom: 1px solid #606468;
}

tr:hover {
    background-color: #5f666b;
}

body {
    background-color: #2c3338;
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
}

section {
    margin: 50px;
}


/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #000000;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #4ceaae;
}


/*delete - update buttons*/
input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

input[type='button'] {
    cursor: pointer;
}

input[type='button'] {
    border-radius: 0.25rem;
    padding: 0.6rem;
}

input[type='button'] {
    background-color: #4ceaae;
    color: #2c3338;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
}

input[type='button']:focus,
input[type='button']:hover {
    background-color: #ea4c88;
    color: #eeeeee;;
}

/*logout btn*/


.logouta {
    padding: 20px;
    font-size: 1rem;
    border: 2px solid #4ceaae;
    text-decoration: none;
    color: #4ceaae;
}

.logouta:focus,
.logouta:hover {
    border: 2px solid #ea4c88;
    text-decoration: none;
    color: #ea4c88;
    font-weight: bolder;
}
